@import './components/colours';

@import './components/typography';
@import './components/sidebar';
@import './components/suggestions';
@import './components/navbar';
@import './components/common';
@import './components/subscriptions';
@import './components/_utilities.scss';
@import 'material-icons/iconfont/material-icons.css';

input::placeholder {
  font-size: 24px !important;
  @media (max-width: 677px) {
    font-size: 16px !important;
  }
}

img {
  user-select: none;
  pointer-events: none;
}

.slide-leave-active,
.slide-enter-active {
  transition: 1s;
}
.slide-enter {
  transform: translate(100%, 0);
}
.slide-leave-to {
  transform: translate(-100%, 0);
}

a.nuxt-link-active {
  font-weight: bold;
}
/* exact link will show the primary color for only the exact matching link */

a.nuxt-link-exact-active {
  color: #000;
}

.vs-switch {
  min-width: 20px !important;
  background: gray;
}

// @media (prefers-color-scheme: dark) {
//   a.nuxt-link-exact-active {
//     color: #fff;
//   }
// }

.con-vs-card {
  background: transparent;
}
.vs-card--media {
  border-radius: 20px !important;
}
