$primary-color: #c53761;
$secondary-color: #a9a9a9;
$green-color: #55d170;
$navy-blue-color: #233d9b;
$blue-color: #233d9b;
$purple-color: #627fe8;
$gray-color: #7c7c7c;

.bg-primary {
  background-color: $primary-color !important;
}

.bg-navy {
  background-color: $navy-blue-color;
}

.border-primary {
  border: 1px solid $primary-color !important;
}

.border-color-primary {
  border-color: $primary-color !important;
}

.icons-color {
  color: #7c94ec;
}
