html,
body {
  overflow: hidden;
  transition: 0.4s;
  height: 100%;
  width: 100%;
  margin: 0;
  @media (max-width: 1024px) {
    overflow: scroll;
  }

  #content-layout {
    margin-top: 157px;
    transition: 0.4s;
  }
}
::-webkit-scrollbar {
  background: transparent;
  width: 0;
}
// .layout-container {
//   max-width: 1920px;
//   @media (min-width: 1920px) {
//     margin: 0 auto;
//   }
// }

.slide-leave-active,
.slide-enter-active {
  transition: 1s;
}
.slide-enter {
  transform: translate(100%, 0);
}
.slide-leave-to {
  transform: translate(-100%, 0);
}

.sidebar-container {
  width: 20.4%;
}
.page-container {
  width: 44.3%;
}
.suggestions-container {
  width: 35.3%;
}

@media (max-width: 1500px) {
  .sidebar-container {
    width: 20.4%;
  }
  .page-container {
    width: 50%;
  }
  .suggestions-container {
    width: 29.6%;
  }
}

@media (max-width: 1023px) {
  .sidebar-container {
    width: 0;
  }
  .page-container {
    width: 100%;
  }
  .suggestions-container {
    width: 100%;
  }
}
