html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  @media (max-width: 1024px) {
    overflow: scroll;
  }
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.cols-3 {
  grid-template-columns: auto auto auto;
}
