#navbar {
  z-index: 10;
  position: fixed;
  // top: 0;
  padding-bottom: 1em;
  @media (max-width: 1023px) {
    width: 100%;
    top: initial;
    bottom: 0;
    left: 0;
  }
}

#body-layout {
  transition: 0.4s;
}

#body-container {
  transition: opacity 0.4s;
  // overflow-y: hidden !important;
  position: relative;
  top: 6rem;
  @media (max-width: 1023px) {
    top: 0;
    // position: static;
    // padding-right: 2em;
  }
}

.nav-items {
  width: 87.5%;
  @media (max-width: 1023px) {
    width: 100%;
    padding: 0;
  }
}
.search-input {
  width: 39%;
}
.logo-container {
  width: 68px;
  @media (max-width: 1023px) {
    width: 50px;
  }
  @media (max-width: 677px) {
    width: 30px;
  }
}
.navbar {
  .vs-con-input-label {
    width: 100% !important;
  }
  .vs-input--icon {
    border-left: 0 !important;
    top: 13px;
  }
  .vs-input--placeholder {
    display: flex;
    align-items: center;
    font-size: 24px;
    height: 50px;
    @media (max-width: 677px) {
      font-size: 16px !important;
    }
  }
  input {
    width: 100% !important;
    height: 50px !important;
    font-size: 24px !important;
    border-radius: 40px;
  }

  .message-box {
    transition: all 0.3s ease;

    .show {
      display: block;
      display: flex;
    }

    .wrapper ul {
      width: 400px;
      list-style: none;
      padding: 10px;
      transition: all 0.3s ease;
    }
    width: 455px;
    height: 500px;
    right: 3%;

    @media (max-width: 1023px) {
      left: calc(50% - 200px);
      width: 400px;
    }
    @media (max-width: 400px) {
      left: calc(50% - 160px);
      width: 320px;
    }
  }

  .notification:hover {
    animation: shake 0.5s;
    animation-iteration-count: 1.5s;
  }

  .menu {
    color: $primary-color;
    &:hover {
      color: $secondary-color;
    }
  }

  .status-circle {
    background-color: $primary-color;
    position: absolute;
    border-radius: 50%;
    font-weight: bold;
    font-size: 12px;
    color: white;
    height: 18px;
    width: 18px;
    right: -7px;
    top: 0;
  }

  .box-enter-active,
  .box-leave-active {
    transition: opacity 1s;
  }
  .box-enter,
  .box-leave-active {
    opacity: 0;
  }

  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }

  .just-logo {
    left: -12px;
    top: -5px;
    @media (max-width: 1023px) {
      top: -16px;
    }
  }
}

.messages__dropdown__wrapper {
  .messages_dropdown {
    @media (max-width: 380px) {
      width: 320px;
      right: 0;
      left: 0;
    }
    @media (min-width: 381px) and (max-width: 1024px) {
      width: 320px;
      left: 10%;
    }
  }
  input {
    height: 40px !important;
  }
  .vs-input--placeholder {
    font-size: 20px;
    height: 40px;
  }
  .vs-icon {
    top: 9px;
    border-left: 0 !important;
  }

  .messages_boxes {
    max-height: 300px;
    overflow-y: scroll;
  }
  nav {
    position: absolute;
    transform: translateY(30px);
    // right: 25%;
    // transform: translate(0, -50%);
    z-index: 99;
  }

  nav .tooltip.show {
    display: block;
  }

  .wrapper_box {
    background: #242526;
    top: 40px;
    display: flex;

    @media (min-width: 320px) and (max-width: 1024px) {
      padding: 0;
    }
    // position: absolute;
    flex-direction: column;
  }

  nav .wrapper {
    top: 65px;
    display: flex;
    width: 400px;
    @media (min-width: 320px) and (max-width: 1024px) {
      width: 320px;
    }
    overflow: hidden;
    border-radius: 5px;
    background: #242526;
    display: none;
    transition: all 0.3s ease;
  }
  nav .wrapper.show {
    display: block;
    display: flex;
  }
  .wrapper ul {
    width: 400px;
    @media (min-width: 320px) and (max-width: 1024px) {
      width: 320px;
    }
    list-style: none;
    padding: 10px;
    transition: all 0.3s ease;
  }
  .wrapper ul li a {
    position: relative;
    color: #b0b3b8;
    font-size: 18px;
    font-weight: 500;
    padding: 0 10px;
    display: flex;
    border-radius: 8px;
    align-items: center;
    text-decoration: none;
  }
  .wrapper ul li:hover {
    background: #3a3b3c;
  }
  ul li a.icon {
    height: 40px;
    width: 40px;
    margin-right: 13px;
    background: #ffffff1a;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
  }
  ul li .icon span {
    font-size: 20px;
    color: #b0b3b8;
  }
  ul li a i {
    position: absolute;
    right: 10px;
    font-size: 25px;
    pointer-events: none;
  }
  .wrapper ul.setting-drop,
  .wrapper ul.help-drop {
    display: none;
  }
  .wrapper .arrow {
    padding-left: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #b0b3b8;
    cursor: pointer;
  }
  .wrapper .arrow span {
    margin-right: 15px;
  }
}
