.navbar {
  .vs-con-input-label {
    width: 100% !important;
  }
  .vs-input--icon {
    border-left: 0;
    top: 23px;
  }
  .vs-input--placeholder {
    display: flex;
    align-items: center;
    font-size: 24px;
    height: 67px;
    @media (max-width: 677px) {
      font-size: 16px !important;
    }
  }
  input {
    width: 100% !important;
    font-size: 24px !important;
    &::-webkit-input-placeholder {
      color: red !important;
    }

    &::-moz-placeholder {
      color: red !important;
    }

    &::-ms-placeholder {
      color: red !important;
    }

    &::placeholder {
      color: red !important;
    }
    &::placeholder {
      font-style: italic;
      position: relative;
      left: 20px;
    }
    @media (min-width: 320px) {
      height: 40px !important;
    }
    @media (min-width: 1200px) {
      height: 68px !important;
    }
    border-radius: 40px;
  }

  .message-box {
    width: 455px;
    height: 500px;
    @media (max-width: 1800px) and (min-width: 1022px) {
      right: -50%;
    }
    // @media (max-width: 639px) and (min-width: 479px) {
    //   right: 0%;
    // }
    // @media (max-width: 478px) and (min-width: 425px) {
    //   right: 0%;
    // }
    // @media (max-width: 424px) and (min-width: 423px) {
    //   left: -13px;
    // }
    // @media (max-width: 500px) and (min-width: 440px) {
    //   right: 0;
    // }
    // @media (max-width: 423px) and (min-width: 320px) {
    //   left: 0;
    // }

    @media (min-width: 320px) and (max-width: 350px) {
      left: -14.5em;
    }

    @media (min-width: 351px) and (max-width: 400px) {
      left: -7.5em;
    }
    @media (min-width: 401px) and (max-width: 440px) {
      left: 0;
      right: 0;
    }

    @media (min-width: 441px) and (max-width: 700px) {
      right: 0%;
    }
  }

  .notification:hover {
    animation: shake 0.5s;
    animation-iteration-count: 1.5s;
  }

  .menu {
    color: $primary-color;
    font-size: 40px !important;
    &:hover {
      color: $secondary-color;
    }
  }

  .status-circle {
    background-color: $primary-color;
    position: absolute;
    border-radius: 50%;
    font-weight: bold;
    font-size: 12px;
    color: white;
    height: 18px;
    width: 18px;
    right: -7px;
    top: 0;
  }

  .box-enter-active,
  .box-leave-active {
    transition: opacity 1s;
  }
  .box-enter,
  .box-leave-active {
    opacity: 0;
  }

  .dropdown {
    transition: transform 0.5s linear;
    transform-style: preserve-3D;
  }

  .dropdown-active {
    transform: rotateX(180deg);
  }

  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }

  @media (min-width: 320px) {
    .message-box {
      width: 320px;
    }
  }

  @media (min-width: 361px) and (max-width: 677px) {
    .message-box {
      width: 360px;
    }
  }
  @media (min-width: 678px) {
    .message-box {
      width: 455px;
    }
  }
}
