.sidebar {
  .status-circle {
    background-color: $green-color;
    border: 3px solid $primary-color;
    position: absolute;
    border-radius: 50%;
    height: 26px;
    bottom: 13px;
    width: 26px;
    right: 2px;
  }

  .border-color {
    border-color: $primary-color;
  }

  &.slide {
    position: fixed;
    transform: translateX(0%);
    animation: slide 0.3s ease-in-out;
  }
}

@media (min-width: 1024px) {
  .col-layout {
    grid-template-columns: 1fr 4fr;
  }
}

.pills {
  border-radius: 40px;
}
