.sidebar {
  .profile__wrapper {
    width: 112px;
  }

  .sidebar__route {
    @media (max-width: 1300px) {
      width: 95% !important;
    }
    @media (min-width: 1301px) and (max-width: 1800px) {
      width: 85% !important;
    }
    // @media (min-width: 1501px) and (max-width: 100px) {
    // width: 85% !important;
    // }
  }

  .profile-img {
    width: 104px;
    height: 104px;
    border-radius: 50%;
  }
  .status-circle {
    background-color: $green-color;
    border: 3px solid $primary-color;
    position: absolute;
    border-radius: 50%;
    height: 26px;
    bottom: 13px;
    width: 26px;
    right: 18px;
  }

  .border-color {
    border-color: $primary-color;
  }

  &.slide {
    position: fixed;
    transform: translateX(0%) !important;
    animation: slide 0.3s ease-in-out;
  }

  @keyframes slide {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0%);
    }
  }
}

@media (min-width: 1024px) {
  .col-layout {
    grid-template-columns: 1fr 4fr;
  }
  .col-layout-content {
    grid-template-columns: 1.3fr 1fr;
  }
}

.pills {
  border-radius: 40px;
  margin: 0 !important;
}

.vs-card {
  background: transparent;
}

.mobile__sidebar {
  .status-circle {
    background-color: $green-color !important;
    border: 3px solid $primary-color !important;
    position: absolute;
    border-radius: 50%;
    right: 0 !important;
    bottom: 13px !important;
    top: initial !important;
  }
}
