.sidebar {
  .status-circle {
    background-color: $green-color;
    border: 3px solid $primary-color;
    position: absolute;
    border-radius: 50%;
    height: 26px;
    bottom: 13px;
    width: 26px;
    right: 2px;
  }

  .border-color {
    border-color: $primary-color;
  }
}

@media (min-width: 1025px) {
  .col-layout {
    grid-template-columns: 1fr 4fr;
  }
}
