.suggestions {
  @media (min-width: 1024px) {
    padding-right: 10px;
  }
  @media (min-width: 1500px) {
    .vs-card-content.type-5 .vs-card__img {
      width: 558px !important;
      height: auto;
    }
  }
}
