.suggestions {
  .vs-button--text {
    max-width: 100%;
  }
  .vs-button-filled {
    padding: 0.5em 0 0.3em 0;
  }
  @media (min-width: 1024px) {
    // padding-right: 10px;
  }
  @media (min-width: 1500px) {
    .vs-card--media {
      // width: 558px !important;
      height: auto;
    }
  }
}
