.-mt-1 {
  margin-top: -0.25rem;
}

.-mt-2 {
  margin-top: -0.5rem;
}

.-mt-3 {
  margin-top: -0.75em;
}

.-mt-4 {
  margin-top: -1rem;
}

.-mt-5 {
  margin-top: -1.25rem;
}

.-mt-6 {
  margin-top: -1.5rem;
}

.-mt-7 {
  margin-top: -1.75rem;
}

.-mt-8 {
  margin-top: -2rem;
}

.-mt-9 {
  margin-top: -2.25rem;
}

.-mt-10 {
  margin-top: -2.5rem;
}

// DARK MODE

.dark .dark\:custom-box-shadow {
  box-shadow: 0px 0px 20px rgba(188, 188, 188, 0.3);
}

.dark .dark\:box-messages {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25) !important;
}

.dark .dark\:bg-messages {
  background: #101010 !important;
}

.dark .nuxt-link-exact-active.dark\:text-active {
  color: white;
}

.dark .dark\:bg-gray {
  background: #242526;
}

.dark .dark\:bg-gray-1000 {
  background: #404040 !important;
}

.dark .dark\:bg-input {
  input {
    background: #404040 !important;
  }
}

.dark .dark\:hover\:bg-light-gray {
  &:hover {
    background: #3a3b3c !important;
  }
}

// END DARK MODE

.custom-box-shadow {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.border-custom-gray {
  border: 2px solid #cdcdcd;
}
